{% load post_detail.html %}

<!--
{% ifequal field.name "author" %}
<input type="text" id="name" name="name" value="{{comment_new.author}}"></input>
{% else %}
<input type= "text" id="comment" name="comment" value="{{comment_new.comment}}"></input>
{% endifequal %}
<input type="submit" value="submit"></input>
 -->


<input type="text" name="author" placeholder="Username"></input>
<input type="text" name="content" placeholder="content"></input>
<input type="submit" id="commentsubmit">submit</input>
